<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>¡Bienvenido!</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4;
      text-align: center; padding: 20px; } h1 { color: #333; } p { font-size:
      18px; color: #555; } hr { width: 50%; border: 1px solid #ddd; } strong {
      color: #007bff; } img { margin-top: 20px; width: 150px; }
    </style>
  </head>
  <body>
    <h1>Welcome, {{name}} </h1>
    <p>¡Gracias por unirte a nuestra plataforma! Esperamos que disfrutes
      nuestros servicios.</p>
    <p>Si tienes alguna duda, contáctanos.</p>
    <hr />
    <p>El equipo de <strong>Encrypt</strong></p>
    <img src="https://i.gifer.com/Af6V.gif" alt="skull-dancing" />
  </body>
</html>