@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family:  "Poppins",'Times New Roman', Times, serif;
}



.lenguaje{
    position: relative;
    padding: 5px 0;
    color: white
}

.lenguaje:hover{
    color: transparent;
}

.lenguaje:hover::after{
    content: "暗号化";
    font-weight: bold;
    color:white;
    position: absolute;
    top: 0;
    left:0;
}

